.banner {
  display: inline-block;
  color: inherit;
  padding: 0.1rem 0.5rem;
  border-radius: 2px;
  font-weight: 400;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  padding: 0rem 1rem;

  &__content {
    position: fixed;
    bottom: 15px;
    background-color: inherit;
  }
  &.open-house {
    background-color: #03aa82;
  }
  &.status {
    background-color: #fff1d9;
    color: #944504;
  }
  &.error {
    background-color: $color-primary-dark;
  }
  &.success {
    background-color: #46b863;
  }

  & .messageBox {
    padding: 2rem;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 100;
  }

  &.banner-message {
    color: $color-white;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
  }
}

@include respond(tab-port) {
  & .banner {
    margin-right: 1rem;
  }
}

@include respond(phone) {
  & .banner {
    // padding: 0.6rem 1rem;
    border-radius: 3px;
  }
}
