.filters {
  transition: 0.2 all;
  justify-content: flex-start;
  border-bottom: 0.5px solid $color-grey-light-3;

  &:not(.is-active) {
    .basicFilters__section {
      display: flex;
      flex-direction: row;
      border-bottom: 0.5px solid $color-grey-light-3;

      & .filters__item {
        border-bottom: none;
      }
    }
    & .advanceFilters {
      display: none;
    }
    & h2 {
      display: none;
    }
  }

  &.is-active {
    background-color: $color-grey-light;
    position: absolute;
    top: 0;
    bottom: -15rem;
    right: 0;
    left: 0;
    height: 100vh;

    & h2 {
      display: block;
      padding: 1.5rem 2.2rem;
      font-size: 2rem;
      font-weight: 500;
    }

    & .advanceFilters {
      display: block;
      &__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          'beds baths'
          'sqft sqft';
      }

      &__item {
        & .heading {
          line-height: 1.8;
          font-size: 1.6rem;
          font-weight: 500;
          color: $color-grey-dark;
        }
        &--field {
          display: flex;
        }
        &.beds {
          grid-area: beds;
        }
        &.baths {
          grid-area: baths;
        }
        &.sqft {
          grid-area: sqft;
        }
      }

      &__footer {
        align-items: center;
        position: absolute;
        bottom: 6.5rem;
        right: 0rem;
        height: 80px;
        width: 100%;

        &--wrapper {
          background-color: $color-white;
          padding: 1.2rem 2rem;
          border: 1px solid rgba($color-black, 0.18);
          display: flex;
          // justify-content: space-between;
          justify-content: flex-end;
          align-items: center;

          & .btn {
            &:hover {
              background-color: rgba($color-primary, 0.8);
            }
          }
        }
      }
    }

    & .filters__item,
    & .advanceFilters__item {
      padding: 1rem 2.2rem;
      border: none;

      & .select {
        width: 13rem;

        &--single {
          width: 100%;
        }
      }
    }

    & .results {
      display: none;
    }
  }

  &__item {
    display: flex;
    &.prices {
      height: 58px;
      padding: 1rem 2.2rem;
    }
  }

  &__item,
  & .advanceFilters__item {
    align-self: center;
    padding: 0.4rem 2.2rem;
    border-bottom: 0.5px solid $color-grey-light-3;

    & .select {
      display: inline-block;

      width: 14rem;
      & div {
        border-radius: 0px;
        padding-top: 0;
        padding-bottom: 0;
        border-color: $color-grey-dark-4;
      }
      & span {
        border: 0.5px solid $color-secondary;
      }
    }
  }

  & .btn {
    font-size: 1.5rem;
    font-weight: 600 !important;
    height: 38px;
    min-width: 75px;
    margin-left: 1rem;
    background-color: $color-white;

    &.default {
      border-color: $color-grey-dark-4;

      &:hover,
      &:active {
        border-color: $color-grey-dark-4;
        background-color: $color-grey-light;
        color: $color-primary;
      }
    }
  }

  & .results {
    padding: 0.9rem 2.2rem;
    &__found {
      font-size: 1.3rem;
      margin-right: 1rem;
    }
    &__sorted_by {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-primary;
    }
  }
  @include respond(phone) {
    & .btn {
      margin: 0;
      border-radius: 2px;
    }
    & .price_filter {
      display: none;
    }

    &:not(.is-active) {
      & .filters__wrapper {
        // border-top: 0.5px solid #dadada;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    & .results {
      display: flex;
      justify-content: flex-end;
      align-self: center;

      &__found {
        display: none;
      }

      &__sorted_by {
        justify-self: flex-start;
      }
    }
    .prices {
      border: none;
    }
    &.is-active {
      position: absolute;
      bottom: 0rem;
      top: 0rem;
      & .price_filter {
        display: flex;
        align-items: center;
        max-width: 100%;
        flex-basis: 100%;
      }
      & .results {
        display: block;
        position: absolute;
        bottom: 1rem;
        right: 0;
      }

      & .filters {
        bottom: 0;
        overflow: hidden;
        &__wrapper {
          position: sticky;
          top: 0;
        }
        &__item {
          display: flex;

          &.prices,
          .select {
            max-width: 100%;
            flex-basis: 100%;

            & .btn {
              display: none;
            }
          }
        }
      }

      & .advanceFilters {
        &__section {
          display: block;
        }
        & .select {
          max-width: 50%;
          flex-basis: 50%;

          &--single {
            max-width: 100%;
            flex-basis: 100%;
          }
        }
        &__footer {
          position: fixed;
          bottom: 0rem;
          &--wrapper {
            background-color: transparent;
            border: none;

            & .btn {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
