.form {
  display: flex;
  flex-direction: column;

  & .error,
  & input.error {
    border-color: $color-primary-dark !important;
    background-color: #fff;
    color: $color-primary-dark;
  }

  & label {
    & p {
      font-size: 1.9rem;
    }
    & input {
      margin-top: 0.8rem;
      width: 100%;
    }
  }
  & input,
  textarea {
    margin-top: 0.8rem;
    border: 1px solid $color-grey-light-2;
    color: $color-black;
    padding: 1rem;
    font-size: 1.7rem;

    &::placeholder {
      color: $color-grey-dark-2;
    }
  }

  & .inputGroup {
    display: flex;
    justify-content: space-between;
    & input {
      flex-basis: 48%;
      width: 100%;
    }
  }

  & button {
    margin: 1rem 0 0 0rem;
    font-size: 1.75rem;

    &:active {
      // margin-bottom: 0.2rem !important;
      margin-top: 1rem !important;
    }
    // z-index: 1;
  }
}
