.form {
  display: flex;
  flex-direction: column;

  & input,
  textarea {
    margin-top: 0.8rem;
    border: 1px solid $color-grey-light-2;
    color: $color-grey-light-4;
    padding: 1rem;
    font-size: 1.7rem;
  }

  & button {
    margin: 1rem 0 0 0rem;
    font-size: 1.75rem;
    // z-index: 1;
  }
}
