.agents {
  margin: 0 auto;

  & .agent {
    &_card {
      padding-top: 1.5rem;
      margin-top: 0;
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-3;
        padding-bottom: 2.5rem;
      }
    }
    &__photo {
      flex-shrink: 0;
    }
    &__info {
      display: flex;

      width: 90%;
      justify-content: space-between;

      &--name {
        line-height: 1.55;
      }
      &--company,
      &--agent_type {
        line-height: 1.35;
        color: rgba($color-black, 0.9);
      }
    }
  }
  @include respond(tab-land) {
    & .header .header__content {
      width: 90%;

      & h2 {
        line-height: 1.1;
        letter-spacing: 1.2px;
      }
    }
  }

  // @include respond(tab-land) {
  //   & .MuiGrid-item {
  //     display: flex;
  //     justify-content: space-around;
  //     max-width: 25.333333%;
  //   }

  //   .MuiGrid-spacing-xs-3 {
  //     justify-content: center;
  //   }
  //   // & .MuiGrid-root {
  //   //   flex-grow: 0;
  //   //   max-width: 25%;
  //   //   flex-basis: 25%;
  //   // }
  // }

  // @include respond(tab-port) {
  //   & .MuiGrid-item {
  //     display: block;
  //     // justify-content: space-around;
  //     max-width: 50%;
  //   }

  //   .MuiGrid-spacing-xs-3 {
  //     justify-content: none;
  //   }
  //   // & .MuiGrid-root {
  //   //   flex-grow: 0;
  //   //   max-width: 25%;
  //   //   flex-basis: 25%;
  //   // }
  // }
}
