.agents {
  & .header {
    // position: relative;
    height: 42.5vh;
    // background-color: #333;

    background-image: linear-gradient(
        rgba($color-black, 0.1),
        rgba($color-black, 0.1)
      ),
      url(../../img/office_reception.jpg);
    // visibility: visible;
    // background-position: 50%;
    // background-repeat: no-repeat;
    // background-size: cover;

    &__content {
      display: flex;
      flex-direction: column;

      text-align: center;
      width: 100%;
      z-index: 9;
      justify-content: center;
      align-items: center;
    }

    .homepage__search {
      display: flex;
      flex-direction: row;

      & .search--input-box {
        width: 100%;
      }
      & .search_suggestions {
        width: 65rem;
      }
    }

    & .search--input {
      &-box {
        & form {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      &-btn {
        position: relative;
        top: 0;
        right: 0;
        z-index: 10;
        margin-left: -6.2rem;
      }
    }
  }

  &-hero {
    height: 100vh !important;
  }

  @include respond(tab-land) {
    & .header {
      .homepage__search {
        width: auto !important;
      }
    }
  }
  @include respond(tab-port) {
    & .header {
      .homepage__search {
        width: auto !important;
      }
    }
  }
  @include respond(phone) {
    & .header {
      .homepage__search {
        width: 96% !important;
        & .search_suggestions {
          width: 100% !important;
        }
        & .search--input {
          &-btn {
            margin-left: -25px;

            &.cancel-btn {
              & i {
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
