.searchpage {
  overflow: hidden;

  & .sticky {
    & .nav--box {
      margin: -0.8rem -1.1rem 0 -1.1rem;
      box-shadow: 0 2px 5px rgba($color-black, 0.08);
    }
  }

  &__content {
    position: relative;
    bottom: 0;
    display: flex;
    flex: wrap column;
    margin-top: -0.9rem;
    margin-bottom: -0.3rem;

    & .map {
      margin-top: -0.2rem;
      height: 95vh;
      min-width: 63%;
      flex-grow: 1;
      height: auto !important;
      border-right: 1px solid rgba($color-black, 0.08);
      border-top: 1px solid rgba($color-black, 0.08);
    }
    & .listings {
      position: relative;
      bottom: 0;
      flex-grow: 1;

      overflow-y: scroll;
      height: 92vh;

      & .heading-quaternary {
        padding: 1.5rem 2.2rem;
        border-bottom: 0.5px solid $color-grey-light-3;
      }

      &__header {
        background-color: $color-white;
        position: sticky;
        top: 0;
        z-index: 9;
      }

      & .listings__card--wrapper {
        padding: 1.5rem 2.2rem;
        & .MuiGrid-item {
          max-width: 50%;
          flex-basis: 50%;

          & .card-body {
            height: 22rem;
          }
        }
      }
    }
  }

  @include respond(big-desktop) {
    &__content {
      & .map {
        min-width: 66.5%;
      }

      & .card .flex .card-listing-right-wrapper {
        flex-wrap: nowrap;
      }
    }
  }
  @media (max-width: 1600px) {
    .card .banner {
      padding: 0 0.5rem;
    }
    &__content {
      & .map {
        min-width: 54.5%;
      }
    }
  }
  @include respond(tab-land) {
    &__content {
      margin-top: -0.6rem;

      & .listings {
        & .MuiGrid-item {
          max-width: 50%;
          flex-basis: 50%;
        }
      }
      & .map {
        min-width: 43.5%;
      }
    }

    & .mobile__menu--icon {
      display: inline-block;

      & i {
        border-right: 0.5px solid $color-grey-light-3;
      }
    }

    & .sticky {
      & .search--input-box {
        top: 0%;
      }
    }
  }

  @include respond(tab-port) {
    &__content {
      & .listings {
        & .listings__card--wrapper {
          & .MuiGrid-item {
            max-width: 50%;
            flex-basis: 50%;
          }
        }
      }
      & .map {
        min-width: 35%;
      }
    }
  }
  @media (max-width: 889px) {
    &__content {
      & .listings {
        & .filters__item .select,
        .filters .advanceFilters__item .select {
          width: 13rem;
          font-size: 1.4rem;
        }
        & .listings__card--wrapper {
          & .MuiGrid-item {
            max-width: 100%;
            flex-basis: 100%;
          }
        }
      }
      & .map {
        min-width: 35%;
      }
    }
  }
  @media (max-width: 648px) {
    &__content {
      & .listings {
        & .filters__item .select,
        .filters .advanceFilters__item .select {
          width: 14rem;
          font-size: 1.6rem;
        }
        & .listings__card--wrapper {
          & .MuiGrid-item {
            max-width: 50%;
            flex-basis: 50%;
          }
        }
      }
      & .map {
        min-width: 0%;
        display: none;
      }
    }
  }
  @include respond(phone) {
    & .search {
      &--input {
        border: none;
        border-left: 1.2px solid $color-grey-light-3;
        &-box {
          width: 74%;
          margin: 0;
          padding: 0rem;
        }
        &-btn {
          color: $color-primary;
          height: 5.5rem;
          background-color: transparent;
        }
      }
    }
    .card .banner {
      padding: 0.5rem 0.8rem;
    }

    &__content {
      margin-top: 0.1rem;

      & .map {
        min-width: 0%;
        display: none;
      }
      & .listings {
        padding-bottom: 10rem;

        &__header {
          display: flex;
          flex-direction: column-reverse;

          padding: 0;
          margin: 0;
          & h4 {
            background-color: $color-grey-light;
            color: $color-grey-dark-2;
            font-size: 1.3rem;
            font-weight: 100;
            line-height: 1;
          }
        }
        & .listings__card--wrapper {
          padding: 1.5rem 1.6rem;
          & .MuiGrid-item {
            max-width: 100%;
            flex-basis: 100%;
            padding: 0.22rem 0rem;
            & .card-body {
              height: 23rem;
            }
          }
        }
      }
    }
  }
}
