.nav {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 3px;
  height: 5.15rem;
  padding: 1rem;
  z-index: 5;

  & .backdrop {
    //nav shadow gradient
    height: 25rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);

    @include clearfix;
  }

  &__menu {
    z-index: 10;
    position: relative;
    float: right;
    padding: 0rem 2rem;

    &--main {
      z-index: 150;
      float: left;
      padding-right: 1rem;
    }
    @include clearfix;
  }

  &:not(.is-active) {
    & .nav__menu--user--item--btn {
      &.btn {
        border-bottom: 2px solid transparent;
        border-radius: 0;
        border: 0;
        &:hover,
        &:active {
          // border: 1px solid $color-primary;
          border-bottom: 2px solid $color-secondary;
        }
      }
    }
  }

  &__item,
  &__menu--user {
    display: inline-block;
    border-bottom: 0 solid transparent;
    padding: 1rem 1rem;
    transition: all 0.3s;

    &--item--btn {
      &.btn {
        margin-left: 0;
        padding: 1.6rem 1rem;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__item:hover,
  &__item:active,
  &__menu--user--item--btn:hover,
  &__menu--user--item--btn:active {
    border-bottom: 2px solid $color-secondary;
    background-color: $color-primary;
    cursor: pointer;
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      display: block;
    }
  }

  &__menu--user {
    color: inherit;
    display: inline-block;
  }

  &__menu--user--item {
    display: inline-block;
    margin-top: -1rem;

    &--btn {
      &,
      &:link,
      &:visited {
        background-color: transparent;
        font-size: inherit;
        font-family: inherit;
        letter-spacing: 3px;
        color: inherit;
        border: none;
      }
    }
  }

  @media (min-width: 888px) {
    &__menu--user {
      //user menu vertical divider
      &::before {
        content: '';
        position: relative;
        left: -10px;
        border-left: 10px solid;
        border-left-width: 1.2px;
        border-left-style: solid;
        border-left-color: initial;
        height: 16px;
        opacity: 0.35;
      }
    }
  }
}

.sticky {
  /* Sticky Nav */
  overflow: hidden;
  color: $color-black;
  & .header {
    &__nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  & .backdrop {
    flex-grow: 1;
    &:not(.is-active) {
      height: 0;
    }
    & .search {
      &--input {
        &-box {
          visibility: visible;
          display: inline-block;
        }
        &-btn {
          position: absolute;
          top: 0.04rem;
          right: 0%;
          height: 39.5px;
          width: 39.5px;
        }
      }
    }
  }

  &:not(.is-active) {
    & .nav__menu--user--item--btn {
      &.btn {
        border-bottom: 3px solid transparent;

        &:hover,
        &:active {
          border-bottom: 2px solid $color-secondary;
        }
      }
    }
  }

  & .nav {
    &--box {
      border-bottom: 0.5px solid $color-grey-light-3;
      & .logo {
        color: $color-black;
      }
      margin: -1.1rem;
      :not(.is-active) {
        & .logo {
          margin: 1.2rem 0 0 0.4rem;
        }
      }
      &__item {
        margin: 0rem;
        padding: 0.8rem;
      }
      &__menu {
        &--user {
          padding: 0rem;
          &--item {
            padding: 1.05rem 0;
            margin-top: -1.01rem;
          }
        }
      }
    }
  }

  & .mobile__menu--icon {
    color: $color-black;
  }

  //styling searchbar when mobile menu is opened
  .nav {
    &--box {
      &.is-active {
        margin: 0rem;
        padding: 0rem 0.5rem;

        & .logo {
          margin: 2rem 1.2rem;
        }

        & .search {
          &--input {
            &-box {
              display: none;
            }
          }
        }
        & .nav {
          &__link {
            padding: 0 0.3rem;
          }
          &__menu {
            &--main {
              padding: 0;
            }
            &--user {
              padding: 2rem;
              &--item {
                padding: 0;

                &--btn {
                  // padding: 1.6rem 2.4rem;
                  border-radius: 2px;
                  border: 0;

                  &:link,
                  &:visited {
                    border-bottom: 2px solid transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond(tab-land) {
    &.header {
      &__nav {
        height: 6.1rem !important;

        border-bottom: 0.5px solid #dadada;
        & .is-active .search--input {
          padding: 0rem 0rem 0.2rem 1.1rem !important;
          &-box {
            display: none;
          }
        }
        .search--input {
          padding: 0rem 0rem 0.2rem 1.1rem !important;
          &-box {
            display: block;
            width: 70%;
            top: 0.7%;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    & .nav {
      &--box {
        & .search--input {
          padding: 0rem 0rem 0.2rem 1.1rem !important;
          &-box {
            & input {
              height: 4.9rem !important;
            }
          }
          &-btn {
            margin-top: -0.5px;
            height: 42.5px !important;
            width: 42.5px !important;
          }
        }
      }
    }
  }

  @include respond(tab-port) {
    &.header {
      &__nav {
        border-bottom: none;
      }
    }
  }
  @include respond(phone) {
    &.header {
      &__nav {
        border-bottom: none;
        & .search--input {
          &-box {
            margin: 0 !important;
            margin-left: 6rem !important;
            width: 100%;
            position: relative;
            border-left: 0.5px solid $color-grey-dark-4;

            & input {
              height: 6.1rem !important;
              border: none;
              width: 75%;
            }
          }
          &-btn {
            right: 13% !important;
            height: 52.5px !important;
            width: 52.5px !important;
            background-color: transparent !important;
            & i {
              color: $color-primary;
            }
          }
        }
      }
    }
    & .mobile__menu--icon {
      height: 5.9rem;
      display: flex;

      & i {
        padding-left: 0.3rem;
      }
    }
    & .logo__link {
      display: none;
    }

    & .nav--box {
      &.is-active {
        .logo__link {
          display: block;
        }
        & .search--input-box {
          display: none;
        }
      }
    }
  }
}

// div.sticky {
//   padding: 0rem 0 0 8rem;
//   width: 100%;
//   position: fixed; /* nav will stay at the same point with respect to our scrooling */
//   top: 0;
//   left: 0;
//   background-color: rgba($color-grey-light-4, 0.98);
//   box-shadow: 0 0.8px 1.5px rgba($color-white, 0.88); //#efefef;
//   z-index: 9999; /* nav is the highest vertical stacking of all elements*/

//   & .logo > .logo__box {
//     border: none;
//     box-shadow: none;
//     height: 6.4rem;
//   }

//   & .nav {
//     padding: 0.3rem 0;

//     &__menu {
//       margin-top: 1rem;

//       & li {
//         & a:link,
//         & a:visited {
//           color: $color-grey-dark;
//         }
//       }
//     }
//   }
// }

/* Mobile Nav */
// .mobile-nav-icon {
//   float: right;
//   margin-top: 30px;
//   cursor: pointer;
//   display: none;
//   @include clearfix;
// }
// .mobile-nav-icon i {
//   font-size: 200%;
//   color: #fff;
// }

// #hours:target {
//   color: $color-secondary;
//   & a {
//     color: $color-white;
//   }
// }
