.header {
  position: relative;
  height: 61.3vh;
  background-color: $color-grey-dark;
  background-image: linear-gradient(
      // to right bottom,
        rgba($color-black, 0.1),
      rgba($color-black, 0.1)
    ),
    url(../../img/hero_high_res.jpeg);
  visibility: visible;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .nav {
    color: $color-white;
  }

  &__content {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    z-index: 100;
    // animation: moveInBottom 1s ease-out;
  }
}

.homepage {
  &__search {
    &__type {
      &--btn {
        margin: 0;
      }
      &--select {
        float: left;
        margin-bottom: -1px;
        z-index: 1;
        @include clearfix;
      }
    }

    .search {
      &--input {
        padding: 2rem 10rem 2.5rem 2rem;
        height: 100%;
        width: 100%;
        &-box {
          width: 65rem;
        }
        &-btn {
          position: absolute;
          top: 43.5%;
          right: 1.5%;
        }
      }
    }
  }
}

.primary {
  // @include clearfix;
  // color: $color-white;
  // border: none;
  // outline: none;
  // background-color: $color-primary;
  // z-index: 10;
  // transform: translate(-0%, 1%);
}

.is_active {
  color: $color-secondary;
  background-color: $color-white;
  outline: none;
}

@include respond(tab-land) {
  .header {
    & .homepage {
      &__search {
        .search {
          &--input {
            &-btn {
              top: 41%;
            }
          }
        }
      }
    }
  }
}
@include respond(tab-port) {
  .header {
    height: 42vh;

    &__content {
      top: 34%;

      & .heading-primary {
        font-size: 4.5rem;
        margin-bottom: 2.3rem;
      }
    }

    & .homepage {
      &__search {
        width: 96%;
        .search {
          &--input {
            &-box {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .primary {
    transition: none;
  }
}

@include respond(phone) {
  .header {
    & .homepage {
      &__search {
        width: 100%;
      }
    }
  }
}
