.searchpage {
  overflow: hidden;
  &__nav {
    color: $color-black;
    height: 5rem;
    & .header {
      &__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    & .backdrop {
      flex-grow: 1;
      &:not(.is-active) {
        height: 0;
      }
      & .search {
        &--input {
          &-box {
            visibility: visible;
            display: inline-block;
          }
          &-btn {
            position: absolute;
            top: 0.04rem;
            right: 0%;
            height: 39.5px;
            width: 39.5px;
          }
        }
      }
    }

    & .nav {
      &--box {
        border-bottom: 0.5px solid $color-grey-light-3;
        & .logo {
          color: $color-black;
        }
        margin: -1.1rem;
        :not(.is-active) {
          & .logo {
            margin: 0.1rem 0 0 0.4rem;
          }
        }
        &__item {
          margin: 0rem;
          padding: 0.8rem;
        }
        &__menu {
          &--user {
            padding: 0rem;
            &--item {
              padding: 1.05rem 0;
              margin-top: -1.01rem;
            }
          }
        }
      }
    }

    & .mobile__menu--icon {
      color: $color-black;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex: wrap column;
    margin-top: 0.15rem;

    & .map {
      min-width: 66%;
      flex-grow: 1;
      height: auto !important;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
    }
    & .listings {
      flex-grow: 1;
      overflow-y: scroll;
      // overflow-x: hidden;
      height: 92vh;

      // width: 65.8rem;

      & .heading-quaternary {
        padding: 1.5rem 2.2rem;
        border-bottom: 0.5px solid $color-grey-light-3;
      }

      & .listings__card--wrapper {
        padding: 1.5rem 2.2rem;
        & .MuiGrid-item {
          max-width: 50%;
          flex-basis: 50%;

          & .card-body {
            height: 22rem;
          }
        }
      }
    }
  }

  & .search {
    &--input {
      border: 1.2px solid $color-grey-light-3;
      background: transparent;
      height: 4rem;
      padding: 1.1rem;

      &-box {
        flex-grow: 2;
        display: none;
        position: relative;
        margin: 0.6rem;
      }

      &-btn {
        position: absolute;
        top: 0.04rem;
        right: 0%;
        height: 35px;
        width: 35px;
      }
    }
  }

  @include respond(big-desktop) {
    &__content {
      & .map {
        min-width: 66.5%;
      }

      & .card .flex .card-listing-right-wrapper {
        flex-wrap: nowrap;
      }
    }
    & .nav {
      &--box {
        & .search {
          &--input {
            &-box {
              width: 45rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1600px) {
    .card .banner {
      padding: 0 0.5rem;
    }
    &__content {
      & .map {
        min-width: 60%;
      }
    }
  }
  @include respond(tab-land) {
    &__content {
      & .listings {
        & .MuiGrid-item {
          max-width: 50%;
          flex-basis: 50%;
        }
      }
      & .map {
        min-width: 47%;
      }
    }

    & .mobile__menu--icon {
      display: inline-block;
    }
    & .search {
      &--input {
        &-box {
          visibility: visible;
          display: inline-block;
          width: 48%;
        }
      }
    }
  }

  @include respond(tab-port) {
    &__content {
      & .listings {
        & .listings__card--wrapper {
          & .MuiGrid-item {
            max-width: 50%;
            flex-basis: 50%;
          }
        }
      }
      & .map {
        min-width: 35%;
      }
    }

    & .search {
      &--input {
        &-box {
          width: 18%;
        }
      }
    }
  }
  @media (max-width: 889px) {
    &__content {
      & .listings {
        & .filters__item .select,
        .filters .advanceFilters__item .select {
          width: 13rem;
          font-size: 1.4rem;
        }
        & .listings__card--wrapper {
          & .MuiGrid-item {
            max-width: 100%;
            flex-basis: 100%;
          }
        }
      }
      & .map {
        min-width: 36%;
      }
    }
  }
  @media (max-width: 648px) {
    &__content {
      & .listings {
        & .filters__item .select,
        .filters .advanceFilters__item .select {
          width: 14rem;
          font-size: 1.6rem;
        }
        & .listings__card--wrapper {
          & .MuiGrid-item {
            max-width: 50%;
            flex-basis: 50%;
          }
        }
      }
      & .map {
        min-width: 0%;
      }
    }
  }
  @include respond(phone) {
    .nav {
      // padding: 1.6rem;
    }
    .mobile__menu--icon {
      height: 5.2rem;
      display: flex;
      border: 0.5px solid $color-grey-dark-2;
      & i {
        padding-left: 0.3rem;
      }
    }
    .logo__link {
      display: none;
    }
    .nav--box {
      &.is-active {
        .logo__link {
          display: block;
        }
      }
    }

    & .search {
      &--input {
        height: 5.5rem;
        border: none;
        border-left: 1.2px solid $color-grey-light-3;
        &-box {
          width: 74%;
          margin: 0;
          padding: 0rem;
        }
        &-btn {
          color: $color-primary;
          height: 5.5rem;
          background-color: transparent;
        }
      }
    }
    .card .banner {
      padding: 0.5rem 0.8rem;
    }

    &__content {
      & .map {
        min-width: 0%;
      }
      & .listings {
        padding-bottom: 10rem;

        &__header {
          display: flex;
          flex-direction: column-reverse;

          padding: 0;
          margin: 0;
          & h4 {
            background-color: $color-grey-light;
            color: $color-grey-dark-2;
            font-size: 1.3rem;
            font-weight: 100;
            line-height: 0.4;
          }
        }
        & .listings__card--wrapper {
          padding: 1.5rem 1.6rem;
          & .MuiGrid-item {
            max-width: 100%;
            flex-basis: 100%;
            padding: 0.22rem 0rem;
            & .card-body {
              height: 23rem;
            }
          }
        }
      }
    }
  }
}

.nav {
  &--box {
    &.is-active {
      margin: 0rem;
      padding: 0rem 0.5rem;

      & .logo {
        margin: 2rem 1.2rem;
      }

      & .search {
        &--input {
          &-box {
            display: none;
          }
        }
      }
      & .nav {
        &__link {
          padding: 0 0.3rem;
        }
        &__menu {
          &--main {
            padding: 0;
          }
          &--user {
            padding: 2rem;
            &--item {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
