.searchpage {
  &__nav {
    color: $color-black;
    height: 5rem;
    & .header {
      &__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    & .backdrop {
      flex-grow: 1;
      &:not(.is-active) {
        height: 0;
      }
      & .search {
        &--input {
          &-box {
            visibility: visible;
            display: inline-block;
          }
          &-btn {
            position: absolute;
            top: 0.04rem;
            right: 0%;
            height: 39.5px;
            width: 39.5px;
          }
        }
      }
    }

    & .nav {
      &--box {
        border-bottom: 0.5px solid $color-grey-light-3;
        & .logo {
          color: $color-black;
        }
        margin: -1.1rem;
        :not(.is-active) {
          & .logo {
            margin: 0.1rem 0 0 0.4rem;
          }
        }
        &__item {
          margin: 0rem;
          padding: 0.8rem;
        }
        &__menu {
          &--user {
            padding: 0rem;
            &--item {
              padding: 1.05rem 0;
              margin-top: -1.01rem;
            }
          }
        }
      }
    }

    & .mobile__menu--icon {
      color: $color-black;
    }
  }

  &__content {
    display: flex;
    flex: wrap column;
    margin-top: 0.15rem;

    & .map {
      min-width: 66%;
      flex-grow: 1;
    }
    & .listings {
      flex-grow: 1;

      & .heading-quaternary {
        padding: 1.5rem 2.2rem;
        border-bottom: 0.5px solid $color-grey-light-3;
      }

      & .listings__card--wrapper {
        padding: 1.5rem 2.2rem;
        & .MuiGrid-item {
          max-width: 50%;
          flex-basis: 50%;

          & .card-body {
            height: 20rem;
          }
        }
      }
    }
  }

  & .search {
    &--input {
      border: 1.2px solid $color-grey-light-3;
      background: transparent;
      height: 4rem;
      padding: 1.1rem;

      &-box {
        flex-grow: 2;
        display: none;
        position: relative;
        margin: 0.6rem;
      }

      &-btn {
        position: absolute;
        top: 0.04rem;
        right: 0%;
        height: 35px;
        width: 35px;
      }
    }
  }

  @include respond(big-desktop) {
    &__content {
      & .map {
        min-width: 66.5%;
      }

      & .card .flex .card-listing-right-wrapper {
        flex-wrap: nowrap;
      }
    }
    & .nav {
      &--box {
        & .search {
          &--input {
            &-box {
              width: 45rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1600px) {
    .card .banner {
      padding: 0 0.5rem;
    }
    &__content {
      & .map {
        min-width: 60%;
      }
    }
  }
  @include respond(tab-land) {
    & .mobile__menu--icon {
      display: inline-block;
    }
    & .search {
      &--input {
        &-box {
          visibility: visible;
          display: inline-block;
          width: 48%;
        }
      }
    }
    &__content {
      & .map {
        min-width: 45%;
      }

      // & .filters {
      //   & .priceFilters {
      //     & .select {
      //       width: 20rem;
      //     }
      //   }
      // }
    }
  }
  @include respond(tab-port) {
    &__content {
      & .listings {
        & .MuiGrid-item {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      & .map {
        min-width: 41.5%;
      }
    }

    & .search {
      &--input {
        &-box {
          width: 18%;
        }
      }
    }
  }
  @include respond(phone) {
    .mobile__menu--icon {
      // border: 1px solid;
      display: inline-block;
      border: 0.5px solid $color-grey-light-3;
      & i {
        margin: 1.4rem;
      }
    }
    .logo__link {
      display: none;
    }
    & .search {
      &--input {
        height: 5rem;
        &-box {
          width: 45rem;
          margin: 0;
          padding: 0rem;
        }
        &-btn {
          color: $color-black;
          height: 4.9rem;
          background-color: transparent;
        }
      }
    }
    .card .banner {
      padding: 0.5rem 0.8rem;
    }
    &__content {
      & .map {
        min-width: 0%;
      }
      & .listings {
        & .MuiGrid-item {
          max-width: 50%;
          flex-basis: 50%;
        }
      }
    }
  }
}

.nav {
  &--box {
    &.is-active {
      margin: 0rem;
      padding: 0rem 0.5rem;

      & .logo {
        margin: 2rem 1.2rem;
      }

      & .search {
        &--input {
          &-box {
            display: none;
          }
        }
      }
      & .nav {
        &__link {
          padding: 0 0.3rem;
        }
        &__menu {
          &--main {
            padding: 0;
          }
          &--user {
            padding: 2rem;
            &--item {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
