.btn {
  position: relative;
  padding: 1rem;
  margin-left: 1rem;
  border: 0px solid transparent;
  outline: none;
  user-select: none;

  &.default {
    border: 0.5px solid $color-grey-light-3;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $color-primary;
      color: $color-white;
      border: 0.5px solid transparent;
    }
    &:active {
      margin-top: 0.1rem;
      overflow-y: hidden;
    }
  }
  &.primary {
    @include clearfix;
    color: $color-white;

    background-color: $color-primary;
    z-index: 10;
    transform: translate(-0%, 1%);

    &:hover {
      cursor: pointer;
    }
    &:active {
      margin-bottom: -1rem;
    }
  }

  &.is_active {
    color: $color-secondary;
    background-color: $color-white;
    outline: none;
  }
  & .activeFilters-count {
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0.25rem 0.7rem;
    margin-left: 0.5rem;
    background-color: $color-grey-light-3;
    color: $color-black;
  }
}

@include respond(tab-land) {
  button {
    color: inherit;
    background-color: inherit;

    &.active {
      background-color: rgba($color-primary, 1);

      &:hover {
        background-color: rgba($color-secondary, 1);
      }
    }
  }
}

//BTN LABEL

//BTN CLOSED WITH ANIMATION

.btn__closed {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  animation: fade_move_down 3s ease-in-out infinite 1.1s;

  //position on drawer
  position: absolute;
  right: 0%;
  top: -0.5%;
  padding: 1rem;
}

.btn__closed--animated {
  position: relative;
  width: 5rem;
  height: 5rem;
  opacity: 1;

  &.closed-position span {
    z-index: 999;
    height: 2px;
    margin: 1px;
    padding: 1px;
    width: 1.5rem;
    background: $color-black;
    color: $color-black;
    transition: 0.4s ease;
    display: block;
    position: absolute;
    transform: rotate(225deg);
  }

  // CLOSED POSITION

  &.closed-position > span:first-child {
    left: 35%;
    bottom: 35%;
    transform: rotate(45deg);
  }

  &.closed-position span:nth-child(2) {
    left: 35%;
    bottom: 35%;
    transform: rotate(-45deg);
  }
}

.btn__closed--animated {
  &.closed-position:hover {
    // transform: rotate(45deg);
    & span:nth-child(1) {
      // transform: rotate(225deg);
      background-color: $color-primary;
      height: 3px;
    }
    & span:nth-child(2) {
      // transform: rotate(135deg);
      background-color: $color-primary;
      height: 3px;
    }
  }
}

.btn__closed:hover {
  cursor: pointer;
  transition: all 0.3s;
  animation-play-state: paused;

  & .btn__closed--animated {
    // background-color: rgba($color-primary, 0.9);
    // border: $color-primary;
    // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    overflow: hidden;
  }
}
