.filters {
  transition: 0.2 all;
  & .advanceFilters {
    display: none;
  }
  &.is-active {
    height: 100vh;
    background-color: $color-grey-light;

    & .advanceFilters {
      display: block;
      &__section {
        display: flex;
      }
      &__item {
        flex-grow: 1;
        // flex-shrink: 0;
      }
    }

    & .filters__item,
    & .advanceFilters__item {
      padding: 1.3rem 2.2rem;
      border: none;

      & .select {
        // display: inline-block;

        width: 12rem;
      }
    }

    & .results {
      display: none;
    }
  }

  // display: flex;
  justify-content: flex-start;
  border-bottom: 0.5px solid $color-grey-light-3;

  &__item {
    display: flex;
    &.prices {
      height: 58px;
      padding: 1rem 2.2rem;
    }
  }

  &__item,
  & .advanceFilters__item {
    // display: flex;
    align-self: center;
    padding: 0.4rem 2.2rem;
    border-bottom: 0.5px solid $color-grey-light-3;

    & .select {
      display: inline-block;

      width: 14rem;
      & div {
        border-radius: 0px;
        padding-top: 0;
        padding-bottom: 0;
        border-color: $color-grey-dark-4;
      }
      & span {
        border: 0.5px solid $color-secondary;
      }
    }
  }

  & .btn {
    font-size: 1.5rem;
    font-weight: 600 !important;
    height: 38px;
    min-width: 75px;
    margin: 0rem 1.5rem;
    background-color: $color-white;

    &.default {
      border-color: $color-grey-dark-4;

      &:hover,
      &:active {
        border-color: $color-grey-dark-4;
        background-color: $color-grey-light;
        color: $color-primary;
      }
    }
  }

  & .results {
    padding: 0.9rem 2.2rem;
    &__found {
      font-size: 1.3rem;
      margin-right: 1rem;
    }
    &__sorted_by {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-primary;
    }
  }
}
