.logo {
  margin: 1rem;
  position: relative;
  float: left;
  z-index: 10;
  color: $color-white;

  &__link {
    padding: 2rem 0.5rem;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    i {
      color: inherit;
    }
  }
}

/* drawer nav menu */
@include respond(tab-land) {
  .logo {
    &__link {
      padding: 2rem 0.5rem;

      i {
      }
    }
    &__link {
      i {
        font-size: 2rem;
      }
    }
  }
}
