.search {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

  &__type {
    position: relative;

    &--select {
      float: left;
      margin-bottom: -1px;
      z-index: 1;
      @include clearfix;
    }

    &--btn {
      position: relative;
      width: 8rem;
      padding: 0.9rem 0;
      border: none;
      outline: none;
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-white;
      background-color: $color-primary;
      transition: all 0.1s;
      margin-top: -1rem !important;

      &:not(.is_active) {
        &:hover {
          background-color: $color-secondary;
          cursor: pointer;
        }
        &:active {
          margin-top: 0px;
        }
      }

      &:first-child {
        margin-right: -2px;
      }

      &:not(:first-child) {
        padding-right: -2px;
      }
    }
  }

  &--input {
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: 1.9rem;
    font-weight: 400;
    border-radius: 0;
    border: none;
    // transition: all 0.1s;

    &-box {
      width: 45rem;
    }
    &::placeholder {
      color: $color-grey-light-3;
      font-size: 1.6rem;
    }
    &:focus {
      outline: none;
    }

    &-btn {
      position: relative;
      top: -10%;
      right: 0%;
      height: 48px;
      width: 48px;
      transform: rotateY(180deg);
      transition: all 0.1s;

      &:hover {
        background-color: $color-secondary;
      }

      & i {
        font-size: 1.4rem;
      }
    }
  }
}

/// end here
.homepage {
  &__search {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__type {
      position: relative;

      &--btn {
        width: 8rem;
        padding: 0.9rem 0;
        border: none;
        outline: none;
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-white;
        background-color: $color-primary;
        // transition: all 0.2s;

        &:not(.is_active) {
          &:hover {
            background-color: $color-secondary;
            cursor: pointer;
          }
        }

        &:first-child {
          margin-right: -2px;
        }

        &:not(:first-child) {
          padding-right: -2px;
        }
      }
    }
  }
}
