.listingDetails {
  // overflow-x: hidden;
  display: grid;
  grid-template-columns: calc((100% - 24px) * 0.666667) calc(
      (100% - 24px) * 0.333333
    );
  grid-template-areas:
    'header header'
    'navigation navigation'
    'slider sidebar'
    'description sidebar'
    'amenities sidebar'
    'location sidebar'
    'listing_agents sidebar'
    'disclaimer disclaimer';
  grid-column-gap: 24px;

  &__header {
    grid-area: header / header / header / header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.4rem 0 2rem 0rem;
  }

  & .header {
    &__col {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      align-items: center;
      line-height: 1.3;
      border-left: 1px solid rgba($color-grey-dark-2, 0.3);

      &:last-child {
        & .header__title {
          flex-direction: row;
          display: flex;
        }
      }
    }
    &--price_space {
      & .header__col {
        border-left: none;
      }
    }
    &__title {
      font-weight: 600;
      font-size: 1.9rem;
    }
    &__subTitle {
      color: $color-grey-dark-2;
      font-size: 1.4rem;
      font-weight: 400;

      & p {
        padding: 0 0.3rem;
      }
    }
    &__ToLeftContent {
      display: flex;
      flex-direction: column;
      line-height: 1.2;

      & .header {
        &__subTitle {
          display: flex;
          flex-direction: row;
          font-size: 1.6rem;
        }
      }
    }

    &__ToRightContent {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding-top: 2rem;

      & .header {
        &--basic_summary_specs {
          display: flex;
          flex-direction: row;

          & .header {
            &__col {
              justify-content: center;

              &:last-child {
                & .header__title {
                  margin-right: 1rem;
                }
              }
            }
            &__title {
              align-items: center;
            }
            &__subTitle {
              font-size: 1.3rem;
            }
          }

          & .sq_summary {
            & .header {
              &__subTitle {
                padding: 0rem 0.6rem;
              }
              &__title {
                &:last-child {
                  font-weight: 100;
                  font-size: 1.3rem;
                  color: $color-grey-dark-2;
                }
              }
            }
          }
        }
        &--price_space {
          &:first-child {
            padding-right: 1rem;
            align-items: left;
          }
          & .header__subTitle {
            font-size: 1.3rem;
          }
        }
      }
    }

    &__ToBottomContent {
      & .btn {
        font-size: 1.6rem;
        padding: 1rem 1.8rem;
        &.primary {
          &:hover {
            background-color: rgba($color-primary, 0.7);
          }
        }
        &.default {
          color: $color-primary;
          border: 1px solid rgba($color-grey-light-3, 0.7);
          &:hover {
            background-color: rgba($color-grey-light-3, 0.15);
          }
        }
      }
    }
  }
  &__nav {
    grid-area: navigation / navigation / navigation / navigation;

    border-top: 1px solid $color-grey-dark-4;
    padding: 0.5rem 0;

    & a {
      color: $color-grey-dark-2;
      text-decoration: none;
      margin-right: $gutter-horizontal;

      &:hover {
        color: $color-primary;
      }
    }
  }
  &__slider {
    grid-area: slider / slider / slider / slider;
    color: $color-white;
    & .container {
      display: flex;
      flex-direction: column;
    }
    & .banner {
      display: inline-block;
      max-width: 23rem;
      margin: 1.2rem 0 0rem 0.8rem;
      border-radius: 0px;

      &:last-child {
        margin-top: 0.8rem;
      }
    }
    &--wrapper {
      width: 100%;
    }
  }
  &__sidebar {
    grid-area: sidebar / sidebar / sidebar / sidebar;

    & .keyDetails {
      &__header {
        display: none;
      }
      &__table {
        border-collapse: collapse;
        width: 100%;
      }
      & th,
      td {
        text-align: left;
        border-bottom: 1px solid #ddd;

        &.value {
          font-weight: 600;
        }
        & .label {
        }
      }
      &__row {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid rgba($color-grey-light-3, 1);
      }
    }
  }
  &__description {
    grid-area: description;

    & .description__header {
      display: none;
    }
    & p {
      margin: 1rem 0;
    }
  }
  &__amenities {
    grid-area: amenities;
    overflow-x: hidden;

    &--container {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 24px;
    }
    & .cell_item {
      padding: 0.6rem 0;
      & {
        &:not(:nth-last-child(2)):not(:last-child) {
          border-bottom: 1px solid $color-grey-dark-4;
        }
      }
    }
  }

  &__location {
    grid-area: location;
    & .map {
      height: 28.5vh;
    }
    & .location__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      & li {
        display: flex;
        font-size: 1.35rem;
        align-items: center;
        &:not(:last-child)::after {
          content: '';
          margin: 0.7rem;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $color-black;
        }
        & a {
          text-decoration: none;
          color: $color-primary-light;
        }
      }
    }
  }

  &__listing_agents {
    grid-area: listing_agents;
  }
  &__disclaimer {
    grid-area: disclaimer;
    color: $color-grey-dark-3;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  @include respond(tab-land) {
    &__header {
      margin-top: 0.7rem;
      display: grid;
      align-items: center;
      grid-template: 'left bottom' 'right right';
    }

    &__nav {
      display: none;
    }

    & .header {
      &__ToRightContent {
        grid-area: right;
        margin-left: 0;

        .header {
          &__col {
            flex-direction: row;
            align-self: center;
            padding: 0.5rem 1rem 0.5rem 0;
          }
          &__title {
            margin-right: 0.2rem;
            font-size: 2rem;
          }
          &--basic_summary_specs {
            & .header {
              &__col {
                padding-left: 1rem;
                color: $color-grey-dark-2;

                &:last-child {
                  padding: 0;
                }
              }
              &__title {
                color: $color-black;
              }
            }

            & .sq_summary {
              & .header {
                &__title {
                  padding: 0.5rem 0;
                  display: flex;
                  align-self: center;

                  &:last-child {
                    font-size: 2rem;
                    color: $color-black;
                    font-weight: 600;
                  }

                  &:first-child {
                    border-right: 1px solid rgba($color-grey-dark-2, 0.3);
                    padding: 0.5rem 0.5rem 0.5rem 1rem;
                  }
                }
              }
            }
          }
          &--price_space {
            &:first-child {
              padding-right: 0;
            }
          }
        }
      }
      &__ToLeftContent {
        grid-area: left;
      }
      &__ToBottomContent {
        grid-area: bottom;
      }
    }

    &__slider {
      & .card-img {
        height: 50rem !important;
      }

      &--wrapper {
        //   width: 100%;
      }
    }

    .btn {
      &__label {
        display: none;
      }
    }
  }

  @include respond(tab-port) {
    grid-template-areas:
      'slider slider'
      'header header'
      'sidebar sidebar'
      // 'listing_agents listing_agents'
      'amenities amenities'
      'location location'
      'description description'
      'disclaimer disclaimer';

    &__slider {
      margin: 0 -3.5rem;
      margin-top: -0.8rem;

      & .card-img {
        height: 45rem !important;

        & .container {
          margin: 0 1.4rem;
        }
      }

      &--wrapper {
        //   width: 100%;
      }
    }

    &__header {
      display: grid;
      grid-template-areas:
        'right'
        'left'
        'bottom';
      justify-content: flex-start;
      grid-template-columns: 100%;
      grid-row-gap: 21px;
    }

    &__amenities {
      font-size: 1.84rem;
    }
    &__description {
      & .description__header {
        display: block;
      }
    }

    & .header {
      &__ToRightContent {
        grid-area: right;
        margin-left: 0;
        justify-content: space-between;

        .header {
          &__col {
            flex-direction: column;
            align-self: center;
            border-left: none;
          }
          &--price_space {
            & .header__col {
              align-items: end;
            }
          }
          &--basic_summary_specs {
            & .header {
              &__col {
              }
              &__title {
              }
            }

            & .sq_summary {
              align-self: center;
              margin-left: 1.2rem;
              & .header {
                &__title {
                  padding: 0;

                  &:first-child {
                    border-right: none;
                    padding: 0;
                  }
                  &:last-child {
                    font-size: 1.4rem;
                    color: $color-grey-dark-2;
                    padding: 0;
                  }
                }
                &__subTitle {
                }
              }
            }
          }
        }
      }

      &__col {
        &:first-child() {
          flex: 1 1 0%;
        }

        &:not(:first-child) {
          border-left: none;
        }
      }
      &__ToLeftContent {
        grid-area: left;
        flex: 1 1 0%;
      }

      &__ToRightContent {
        grid-area: right;
        flex: 1 1 0%;
      }

      &__ToBottomContent {
        grid-area: bottom;
        display: flex;
        flex: 1 1 0%;
        width: 100%;

        .btn {
          flex: 1 1 0%;
          &:first-child {
            margin-left: 0;
          }
          &__label {
            display: inline-block;
            margin-left: 0.7rem;
          }
        }
      }
    }
    &__sidebar {
      margin-top: 3rem;
      & .agent {
        margin-top: 3rem;
        // display: none;
        & .__contact {
          max-width: 36.6rem;
        }
      }
      & .keyDetails {
        &__header {
          display: block;
          font-size: 2.7rem;
          margin: 1.4rem 0;
        }
        & th,
        td {
          font-size: 1.84rem;
          line-height: 2.174;
          padding: 0;
        }
      }
    }
    & .agents {
      margin-top: 3rem;
      display: none;
      & .agent {
        &__info {
          font-size: 1.6rem;
          &--name {
            font-size: 1.8rem;
          }
          &--contact {
            font-size: 1.6rem;
          }
        }
      }
    }
    &__amenities {
      margin-top: 8rem !important;
      &--container {
        margin-top: 2.5rem;
        & .cell_item {
          padding: 0.6rem 0;
        }
      }
    }
  }

  @include respond(phone) {
    h2 {
      font-size: 2.6rem;
    }
    &__nav {
      display: none;
    }
    &__slider {
      & .card-img {
        height: 30rem !important;

        & .container {
          margin: 0 1.4rem;
        }
      }
      & .banner {
        padding: 0.8rem 1rem;
      }
    }
    &__amenities {
      &--container {
        & .cell_item {
          padding: 1.15rem 0;
        }
      }
    }
    &__location {
      & .location__list {
        margin-top: 2rem;
      }
    }
    &__description {
      margin-top: 1rem;

      & p {
        margin-top: 2rem;
        line-height: 1.4;
        font-size: 1.6rem;
      }
    }
    &__disclaimer {
      font-size: 1.7rem;
    }
  }
}
