.drawer {
  .mobile__menu--icon {
    display: none;
  }

  .nav {
    &--box {
      .btn__closed {
        display: none;
      }
      &.is-active {
        color: $color-black;

        & .logo__link {
          color: $color-black;
        }
      }
    }
  }

  & .backdrop {
    // background: none !important;
    // background-color: none !important;
  }

  /* drawer nav menu */
  @include respond(tab-land) {
    .nav {
      &--box {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        top: 0%;
        bottom: 0%;
        left: -200%;
        z-index: 1000;
      }

      &__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 1.7rem;

        &--user {
          display: flex;
          justify-content: space-around;
          margin: 2rem 0rem;
          transition: none;

          &::before {
            display: none;
          }
          &--item {
            color: inherit;
            background-color: inherit;
            transition: all 0.03s ease-in-out;
            border-radius: 2px;
            border-bottom: 0.5px solid transparent;
            display: flex;
            align-self: flex-end;

            &:nth-child(1) {
              color: $color-white;
              margin-top: 0;
              border: 1px solid $color-primary;
              background-color: rgba($color-primary, 1);

              &:hover {
                background-color: rgba($color-secondary, 1);
                border: 1px solid $color-secondary;
              }
            }

            &:nth-child(2) {
              margin-left: 1.6rem;
              border: 0.5px solid rgba($color-black, 0.15);

              &:hover {
                color: $color-white;
              }
            }

            &--btn {
              &.btn {
                color: inherit;
                padding: 1.2rem 2.4rem;
                margin: 0;

                &:hover {
                  background-color: $color-secondary;
                }
              }
            }
          }
        }
      }
      &__item {
        color: inherit;
        background-color: inherit;
        display: block;
        padding: 0.5rem 2rem;
        margin: 0 -0.5rem;
        border-bottom: 2px solid transparent;
        transition: all 0.01s;

        & a {
          display: block;
        }

        &:hover {
          color: $color-white;
          background-color: $color-secondary;
        }
      }
    }

    & .is-active {
      &.nav {
        &--box {
          transition: 0.3s all;
          left: 0%;
          padding: 2rem 1.25rem 3rem 1.25rem;
          & .btn__closed {
            display: flex;
          }
        }
        &__menu {
          &--user {
            transition: none;
            &--item {
              transition: none;

              color: inherit;
              background-color: inherit;
              transition: all 0.03s ease-in-out;
              border-radius: 2px;
              // border-bottom: 0.5px solid transparent !important;
              display: flex;
              align-self: flex-end;

              &:nth-child(1) {
                color: $color-white;
                margin-top: 0;

                background-color: rgba($color-primary, 1);

                &:hover {
                  background-color: rgba($color-secondary, 1);
                }
              }

              &:nth-child(2) {
                margin-left: 1.6rem;
                border: 0.5px solid rgba($color-black, 0.15);

                &:hover {
                  color: $color-white;
                }
              }
            }
          }
        }
      }
    }

    .mobile__menu--icon {
      display: block;
      color: inherit;
      & i {
        font-size: 2rem;
        margin: 1.2rem 1.8rem;
        margin-right: 1.1rem;
      }
    }
  }

  @include respond(phone) {
    .mobile__menu--icon {
      & i {
        margin: 1.5rem 1.9rem;
      }
    }
  }
}
