.nav {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 3px;
  height: 5.3rem;
  padding: 1rem;
  z-index: 5;

  & .backdrop {
    //nav shadow gradient
    height: 25rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    @include clearfix;
  }

  &--box {
    &:not(.is-active) {
      //styling for sticky and non sticky nav when drawer is closed

      & .nav__link {
        display: inline-block;
      }
      & .logo {
        margin: 1.2rem 0 0 0.4rem;
      }

      & .nav__link {
        &-active {
          cursor: pointer;
          border-bottom: 2px solid $color-primary;
          color: $color-primary !important;

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
    &.is-active {
      //styling for sticky and non sticky nav when drawer is OPENED
      padding-right: 2px;
      & .nav__link {
        &-active {
          cursor: pointer;
          background-color: #f7b7b1;
          color: white !important;
          // background-color: #ff8478;
          // color: $color-primary !important;

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }

  &__menu {
    z-index: 10;
    position: relative;
    float: right;
    padding: 0rem 2rem;

    &--main {
      z-index: 150;
      float: left;
      padding-right: 1rem;
    }
    @include clearfix;
  }

  & .nav__menu--user--item--btn {
    &.btn {
      border-bottom: 2px solid transparent;
      border-radius: 0;

      // &:hover,
      // &:active {
      //   border-bottom: 2px solid $color-secondary;
      // }
    }
  }

  &__item,
  &__menu--user {
    display: inline-block;
    border-bottom: 0 solid transparent;
    padding: 1rem 1rem;
    transition: all 0.3s;

    & .userProfileLink {
      color: inherit;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid $color-primary !important;
        color: $color-primary;

        & .nav__menu--user--item--btn {
          &.btn {
            &.active {
              border-bottom: 2px solid $color-primary;
            }
          }
        }
      }
    }

    &--item {
      &--btn {
        &.btn {
          margin-left: 0;
          padding: 1.6rem 1rem;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }

  &__item:hover,
  &__menu--user--item--btn:hover {
    border-bottom: 2px solid $color-grey-light-3;
    background-color: $color-grey-light-3;
    color: $color-primary;
    cursor: pointer;
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      display: block;
    }

    // &-active {
    //   cursor: pointer;
    //   border-bottom: 2px solid $color-primary;
    //   color: $color-primary !important;

    //   &:hover {
    //     border-bottom: none;
    //   }
    // }
  }

  &__menu--user {
    color: inherit;
    display: inline-block;
  }

  &__menu--user--item {
    display: inline-block;
    margin-top: -1rem;

    &--btn {
      &,
      &:link,
      &:visited {
        background-color: transparent;
        font-size: inherit;
        font-family: inherit;
        letter-spacing: 3px;
        color: inherit;
        border: none;
      }
    }
  }

  @media (min-width: 888px) {
    &__menu--user {
      //user menu vertical divider
      &::before {
        content: '';
        position: relative;
        left: -10px;
        border-left: 10px solid;
        border-left-width: 1.2px;
        border-left-style: solid;
        border-left-color: initial;
        height: 16px;
        opacity: 0.35;
      }
    }
  }
}

.sticky {
  /* Sticky Nav */
  overflow: hidden;
  color: $color-black;
  margin-bottom: -8px;

  & .backdrop {
    flex-grow: 1;
    &:not(.is-active) {
      height: 0;
    }
    & .search {
      &--input {
        background: $color-white;
        &-box {
          visibility: visible;
          display: inline-block;
        }
        &-btn {
          position: absolute;
          top: 0.04rem;
          right: 0%;
          height: 39.5px;
          width: 39.5px;
        }
      }
    }
  }

  // & .nav__menu {
  //   & .nav__link:hover,
  //   & .nav__menu--user--item--btn:hover {
  //     // color: $color-white;
  //   }
  // }

  & .nav__menu--user--item--btn {
    &.btn {
      &:hover {
        border-bottom: 2px solid $color-grey-light-3;
        color: $color-primary;
      }
    }
  }

  & .nav {
    &--box {
      border-bottom: 0.5px solid $color-grey-light-3;
      height: 5.3rem;
      & .logo {
        color: $color-black;
      }
      margin: -1.1rem;

      &__item {
        margin: 0rem;
        padding: 0.8rem;
      }
      &__menu {
        &--user {
          padding: 0rem;
          &--item {
            padding: 1.05rem 0;
            margin-top: -1.01rem;
          }
        }
      }
    }
  }

  & .mobile__menu--icon {
    color: $color-black;
  }

  //styling searchbar when mobile menu is opened
  .nav {
    &--box {
      &.is-active {
        margin: 0rem;
        padding: 0rem 0.5rem;

        & .logo {
          margin: 2rem 1.2rem;
        }

        & .search {
          &--input {
            &-box {
              display: none;
            }
          }
        }
        & .nav {
          &__link {
            padding: 0 0.3rem;
          }
          &__menu {
            &--main {
              padding: 0;
            }
            &--user {
              padding: 2rem;
              &--item {
                padding: 0;

                &--btn {
                  border-radius: 2px;
                  border: 0;

                  &:hover {
                    color: $color-white;
                  }

                  &:link,
                  &:visited {
                    border-bottom: 2px solid transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1380px) {
    & .nav {
      &--box {
        & .search--input {
          &-box {
            width: 33rem !important;
          }
        }
      }
    }
  }

  @include respond(tab-land) {
    &.header {
      &__nav {
        height: 6.1rem !important;

        // border-bottom: 0.5px solid $color-grey-light-3;
        & .is-active .search--input {
          padding: 0rem 0rem 0.2rem 1.1rem !important;
          &-box {
            display: none;
          }
        }

        .search--input {
          padding: 0rem 0rem 0.2rem 1.1rem !important;
          &-box {
            display: block;
            width: 70%;
            // top: 0.7%;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    & .nav {
      &--box {
        & .search--input {
          padding: 0rem 0rem 0.2rem 1.1rem !important;
          &-box {
            & input {
              height: 4.9rem !important;
            }
          }
          &-btn {
            margin-top: -0.5px;
            height: 42.5px !important;
            width: 42.5px !important;
          }
        }
      }
    }
  }

  @include respond(tab-port) {
    // &.header {
    //   &__nav {
    //     // border-bottom: none;
    //   }
    // }
  }

  @include respond(phone) {
    &.header {
      &__nav {
        // border-bottom: none;
        & .search--input {
          &-box {
            margin: 0 !important;
            padding-left: 5.5rem !important;
            width: 100%;
            position: relative;
            height: 7rem !important;
            // border-left: 0.5px solid $color-grey-dark-4;

            & input {
              height: 5.3rem !important;
              border: none;
              width: 100%;
            }
          }
          &-btn {
            position: absolute;
            right: 0% !important;
            // height: 52.5px;
            // width: 52.5px !important;
            height: 48px;
            width: 48px;
            background-color: $color-primary !important;
            color: white !important;
          }
        }
      }
    }
    & .mobile__menu--icon {
      height: 5.9rem;
      display: flex;

      & i {
        padding-left: 0.3rem;
      }
    }
    & .logo__link {
      display: none;
    }

    & .nav--box {
      &.is-active {
        .logo__link {
          display: block;
        }
        & .search--input-box {
          display: none;
        }
      }
    }
  }
}

@include respond(tab-land) {
  .header__nav {
    // to be applied on sticky navbar
    & .nav {
      border-bottom: 0.5px solid $color-grey-light-3;
    }
    & .drawer {
      & .mobile__menu--icon {
        & i {
          border-right: 0.5px solid $color-grey-light-3;
          height: 5.2rem;
          margin: -0.5rem 0.5rem;
          padding: 1.8rem 1.3rem;
        }
      }
    }

    &:not(.sticky) {
      & .nav {
        border-bottom: 0.5px solid $color-grey-light-3;
        & .mobile__menu--icon {
          & i {
            border-right: 0.5px solid #8c8c8c;
            // border-bottom: 0.5px solid #8c8c8c;
            height: 5.2rem;
            padding: 1.7rem;
            margin: -0.2rem 0rem 0rem 0.3rem;
          }
        }
      }
    }
  }
}
